@model  IEnumerable<ContonsoUniversity.ViewModels.EnrollmentDateGroup>
@{
    ViewBag.Title = "Student Body Statics";
}

<h2>Student Body Statistics</h2>

<table class="table table-hover">
    <tr>
        <th>
            Enrollment Date
        </th>
       <th>
           Students
       </th>
    </tr>
@foreach(var item in Model)
{
    <tr>
       <td>
           @Html.DisplayFor(i => item.EnrollmentDate )
       </td>
        <td>
            @item.StudentCount
        </td>
    </tr>
}


</table>